*
!Dockerfile
!.dockerignore
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!next.config.ts
!tsconfig.json
!postcss.config.mjs
!eslint.config.mjs
!src/
!src/**
!public/
!public/**
**/*.test.ts
**/*.test.tsx
**/.DS_Store
**/*.pem
**/*.key
**/.env*
